= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f|
  = f.input :firstname
  = f.input :lastname
  = f.input :company_name
  = f.input :job

  %h2 General info
  = f.simple_fields_for :emails do |email_form|
    = render 'email_fields', f: email_form
  = link_to_add_fields t('.add_email'), f, :emails

  = f.input :description, input_html: { rows: 2 }  
  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'