%ul.breadcrumb
  %li
    = link_to "All contacts", contacts_path
    %span.divider >
  %li
    = link_to "#{@person.firstname} #{@person.lastname}", @person
    %span.divider >
  %li Edit

%h1 Edit person

= render 'form'

= link_to 'Show', @person
\|
= link_to 'Back', contacts_path
