%ul.breadcrumb
  %li
    = link_to t("contacts.index.all_contacts"), contacts_path
    %span.divider >
  %li
    = link_to "#{@person.firstname} #{@person.lastname}", @person
    %span.divider >
  %li= t(".edit_person")

%h1= t(".edit_person")

= render 'form'