%ul.breadcrumb
  %li
    = link_to t("contacts.index.all_contacts"), contacts_path
    %span.divider >
  %li
    = "#{@person.firstname} #{@person.lastname}"

%h2
  = "#{@person.firstname} #{@person.lastname}"
%div
  = link_to t(".edit_person"), edit_person_path(@person)
  
.row
  .span8
    %h3= t(".general_info")
    %dl.dl-horizontal
      -unless @person.company.nil?
        %dt= t(".company")
        %dd= link_to @person.company.name, @person.company
      %dt= t(".contact_type")
      %dd
        - if @person.contact_type.nil?
          = t(".not_set")
        - else
          = @person.contact_type.name
      = render @person.emails
      - unless @person.description.nil?
        %dt= t(".description")
        %dd= @person.description

  .span4  
    = image_tag @person.image_url
    %br
    = render 'upload_image_form', object: @person
    
.tabbable
  = render 'tabs_header'
  .tab-content
    = render 'histories_tab', object: @person
    = render 'tasks_tab', object: @person
    = render 'deals_tab', object: @person