%ul.breadcrumb
  %li
    = link_to t("contacts.index.all_contacts"), contacts_path
    %span.divider >
  %li
    = "#{@person.firstname} #{@person.lastname}"

%h2
  = "#{@person.firstname} #{@person.lastname}"
.buttons-panel
  = link_to t(".edit_person"), edit_person_path(@person), class: "edit"

.container
  .row
    .span8
      %h3= t(".general_info")
      %table.table-condensed
        %tr
          -unless @person.company.nil?
            %td= t(".company")
            %td= link_to @person.company.name, @person.company
        %tr
          %td= t(".contact_type")
          %td
            - if @person.contact_type.nil?
              = t('.not_set')
            - else
              = t("types.contact.#{@person.contact_type.name}")
        = render @person.emails
        = render @person.phones
        = render @person.addresses
        - unless @person.description.nil?
          %tr
            %td= t(".description")
            %td= @person.description.html_safe

    .span4  
      = image_tag @person.image_url
      %br
      = render 'upload_image_form', object: @person
    
.tabbable
  = render 'tabs_header'
  .tab-content
    = render 'histories_tab', object: @person
    = render 'tasks_tab', object: @person
    = render 'deals_tab', object: @person