%ul.breadcrumb
  %li
    = link_to "All contacts", contacts_path
    %span.divider >
  %li
    = "#{@person.firstname} #{@person.lastname}"

%h2
  = "#{@person.firstname} #{@person.lastname}"
%div
  = link_to 'Edit person', edit_person_path(@person)
  
%h3 General info
%dl.dl-horizontal
  -unless @person.company.nil?
    %dt Company:
    %dd= link_to @person.company.name, @person.company
  %dt Contact type:
  %dd
    - if @person.contact_type.nil?
      не задан
    - else
      = @person.contact_type.name
  = render @person.emails
  - unless @person.description.nil?
    %dt Description:
    %dd= @person.description
  %dt Tags:
  %dd ...

.tabbable
  = render 'tabs_header'
  .tab-content
    = render 'histories_tab', object: @person
    = render 'tasks_tab', object: @person
    = render 'deals_tab', object: @person