%tr
  %td.task-type
    = t("types.task.#{task.task_type.name}")
  %td.task{class: ("active" if task.deadline_date > Time.now.to_date)}
    .title
      = task.name
    .description
      = task.description.html_safe
    .date
      = task.deadline_date.to_s
  %td
    - unless task.taskable.nil?
      = link_to task.taskable.name, polymorphic_path(task.taskable)
  %td.links
    = link_to '<i class="icon-edit"></i>'.html_safe, edit_task_path(task)
    = link_to '<i class="icon-trash"></i>'.html_safe, task, :method => :delete, :confirm => "You sure?"    