= simple_form_for @user, html: { class: 'form-horizontal' } do |f|

  = f.input :email
  = f.input :name
  = f.input :gender, as: :select, collection: [t('gender.male'), t('gender.female')], include_blank: true
  = f.input :birthday, as: :string, input_html: { class: 'date_picker' }
  = f.input :comment, as: :ckeditor, input_html: { toolbar: 'Basic' }
    
  = f.simple_fields_for :user_contacts do |user_contacts_form|
    = render 'user_contact_fields', f: user_contacts_form
  = link_to_add_fields t('application.user_contact_fields.add_user_contact'), f, :user_contacts

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), profile_path, class: 'btn'