%h1= t(".events")
.buttons-panel
  = link_to t(".new_event"), new_event_path, class: "add"
  = link_to t("import.title"), events_import_step_1_path, class: "import"
  = link_to t('.export'), events_path(format: 'xls'), class: "export"

= render 'filter_form'

%table.table
  = render @events