%h2= @event.name
= link_to t(".edit_event"), edit_event_path(@event)
|
= link_to_change_status @event

%table.table-condensed
  %tr
    %td
      = t(".status")
    %td
      - if @event.opened? 
        = t(".opened")
      - else
        = t(".closed")
  %tr
    %td= t(".tags")
    %td ...
    
.tabbable
  = render 'tabs_header'
  .tab-content
    = render 'histories_tab', object: @event
    = render 'tasks_tab', object: @event
    = render 'participants_tab', object: @event
    