.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#history", "data-toggle" => "tab"} History  
    %li
      %a{href: "#tasks", "data-toggle" => "tab"} Tasks  
    - if object.is_a?(Company)
      %li
        %a{href: "#people", "data-toggle" => "tab"}
          People
          = "(#{object.people.count})"
    %li
      %a{href: "#twitter", "data-toggle" => "tab"} Twitter
    %li
      %a{href: "#deals", "data-toggle" => "tab"} Deals
  .tab-content
    = render 'contacts/history_tab', object: object      
    = render 'contacts/tasks_tab', object: object
    = render 'contacts/people_tab', object: object if object.is_a?(Company)
    = render 'contacts/deals_tab', object: object
