%h1= t('.all_contacts')

.buttons-panel
  = link_to t('.add_new_company'), new_company_path, class: "add"
  = link_to t('.add_new_person'), new_person_path, class: "add"
  = link_to t("import.title"), contacts_import_step_1_path, class: "import"
  = link_to t('.export'), contacts_path(format: 'csv'), class: "export"

= render 'filter_form'

%table.table.contacts
  = render @companies
  = render @people