%h1= t('.all_contacts')

.buttons-panel
  = link_to t('.add_new_company'), new_company_path
  = link_to t('.add_new_person'), new_person_path

= render 'filter_form'

%table.table.contacts
  = render @companies
  = render @people