= simple_form_for @company, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.association :contact_type, label_method: lambda { |type| t("types.contact.#{type.name}") }
  
  %h2= t('.general_info')
  = f.simple_fields_for :emails do |email_form|
    = render 'email_fields', f: email_form
  = link_to_add_fields t('application.email_fields.add_email'), f, :emails
  %br
  %br
  
  = f.simple_fields_for :phones do |phone_form|
    = render 'phone_fields', f: phone_form
  = link_to_add_fields t('application.phone_fields.add_phone'), f, :phones
  %br
  %br
  
  = f.simple_fields_for :addresses do |address_form|
    = render 'address_fields', f: address_form
  = link_to_add_fields t('application.address_fields.add_address'), f, :addresses
  %br
  %br
  
  = f.input :description, as: :ckeditor, input_html: { toolbar: 'Basic' }
  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'