.tabbable
  %ul.nav.nav-tabs
    %li
      %a{href: "#tasks", "data-toggle" => "tab"}= t('.tasks')
    %li
      %a{href: "#people", "data-toggle" => "tab"}
        = t('.people')
        = "(#{object.people.count})"
    %li
      %a{href: "#deals", "data-toggle" => "tab"}= t('.deals')
  .tab-content
