%ul.breadcrumb
  %li
    = link_to t('contacts.index.all_contacts'), contacts_path
    %span.divider >
  %li
    = link_to @company.name, @company
    %span.divider >
  %li= t('.edit')

%h1= t('.edit_company')
= render 'form'