%ul.breadcrumb
  %li
    = link_to "All contacts", contacts_path
    %span.divider >
  %li
    = link_to @company.name, @company
    %span.divider >
  %li Edit

%h1 Editing company

= render 'form'

= link_to 'Show', @company
\|
= link_to 'Back', contacts_path
