%ul.breadcrumb
  %li
    = link_to t('contacts.index.all_contacts'), contacts_path
    %span.divider >
  %li
    = @company.name

%h2
  = @company.name
%div
  = link_to t('.edit_company'), edit_company_path(@company)

.row
  .span8
    %h3= t('.general_info')
    %dl.dl-horizontal
      %dt= t('.contact_type')
      %dd
        - if @company.contact_type.nil?
          не задан
        - else
          = @company.contact_type.name
      = render @company.emails
      - unless @company.description.nil?
        %dt= t('.description')
        %dd= @company.description
      
  .span4
    = image_tag @company.image_url
    %br
    = render 'upload_image_form', object: @company

.tabbable
  = render 'tabs_header', object: @company
  .tab-content
    = render 'histories_tab', object: @company
    = render 'tasks_tab', object: @company
    = render 'people_tab', object: @company
    = render 'deals_tab', object: @company
