%ul.breadcrumb
  %li
    = link_to "All contacts", contacts_path
    %span.divider >
  %li
    = @company.name

%h2
  = @company.name
%div
  = link_to 'Edit company', edit_company_path(@company)
  
%h3 General info
%dl.dl-horizontal
  %dt Contact type: 
  %dd ...
  = render @company.emails
  - unless @company.description.nil?
    %dt Description:
    %dd= @company.description
  %dt Tags: 
  %dd ...

.tabbable
  = render 'tabs_header', object: @company
  .tab-content
    = render 'history_tab', object: @company
    = render 'tasks_tab', object: @company
    = render 'people_tab', object: @company
    = render 'deals_tab', object: @company
