%ul.breadcrumb
  %li
    = link_to t('contacts.index.all_contacts'), contacts_path
    %span.divider >
  %li
    = @company.name

%h2
  = @company.name
%div
  = link_to t('.edit_company'), edit_company_path(@company)
  
%h3= t('.general_info')
%dl.dl-horizontal
  %dt= t('.contact_type')
  %dd ...
  = render @company.emails
  - unless @company.description.nil?
    %dt= t('.description')
    %dd= @company.description
  %dt= t('.tags')
  %dd ...

.tabbable
  = render 'tabs_header', object: @company
  .tab-content
    = render 'tasks_tab', object: @company
    = render 'people_tab', object: @company
    = render 'deals_tab', object: @company
