%tr.deal
  %td
    .name
      = link_to deal.name, deal
      = render 'deals/badge', object: deal

    .contact
    - unless deal.dealable.nil?
      = link_to deal.dealable.name, polymorphic_path(deal.dealable)
    - else
      = t(".client_not_set")
  %td
    = deal.responsible.name || deal.responsible.email
  %td
    - if deal.budget.present?
      = number_to_currency(deal.budget, unit: currency_to_symbol(deal.currency.abbreviation))