%tr.deal
  %td
    .name  
      = link_to deal.name, deal
    .contact
    - unless deal.dealable.nil?
      = link_to deal.dealable.name, polymorphic_path(deal.dealable)
    - else
      t(".client_not_set")
  %td
    = deal.responsible.email
  %td
    - if deal.budget.present?
      = "#{deal.budget.to_s} #{deal.currency.abbreviation}"