= simple_form_for @deal, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  - pre = [@deal.dealable].to_json(methods: [:id_with_class_name, :name], only: [])
  = f.input :contact, input_html: { 'data-pre' => pre }
  = f.input :description, input_html: { rows: 3 }
  = f.association :currency, include_blank: false
  = f.input :budget
  = f.association :budget_type, include_blank: false
  = f.input :closing_date, as: :date, order: [:day, :month, :year]
  = f.association :user, label_method: :email, value_method: :id, selected: current_user.id, include_blank: false 
  = f.association :stage, include_blank: false
  = f.input :success_probability
  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), deals_path, :class => 'btn'