%h2= @deal.name
.buttons-panel
  = link_to t(".edit_deal"), edit_deal_path(@deal), class: "edit"
  
%table.table-condensed.deal
  %tr
    %td= t(".deal_stage")
    %td= t(".success_probability")
    %td= t(".budget")
    %td= t(".closing_date")
  %tr
    %td= t("stages.#{@deal.stage.name}")
    %td= @deal.success_probability
    %td
      - if @deal.budget.present?
        = number_to_currency(@deal.budget, unit: currency_to_symbol(@deal.currency.abbreviation))
      - else
        = t(".budget_not_set")
    %td= @deal.closing_date
    
%table.table-condensed
  %tr
    %td= t(".responsible")
    %td= @deal.responsible.email
    
.tabbable
  = render 'tabs_header', object: @deal
  .tab-content
    = render 'histories_tab', object: @deal
    = render 'tasks_tab', object: @deal
    = render 'participants_tab', object: @deal
    