%h2= @deal.name
= link_to "Edit this deal", edit_deal_path(@deal)
%table.table-condensed.deal
  %tr
    %td Возможная сделка на стадии:
    %td Вероятность успеха:
    %td Бюджет:
    %td Предполагаемая дата закрытия
  %tr
    %td= @deal.stage.name
    %td= @deal.success_probability
    %td
      - if @deal.budget.present?
        = @deal.budget
      - else
        Бюджет не задан
    %td= @deal.closing_date
    
%table.table-condensed
  %tr
    %td Ответственный за сделку:
    %td= @deal.responsible.email
    
.tabbable
  = render 'tabs_header'
  .tab-content
    = render 'tasks_tab', object: @deal
    = render 'participants_tab', object: @deal
    