%h2= t('.title')

.container
  .row
    .span6
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.button :submit, t('.sign_in')
    .span6        
      = t('.sign_in_with')
      %div
        %br
        %a{href: "/auth/twitter"}
          = image_tag "twitter.png", :alt => "Twitter"
          = t('social.twitter')
        %br
        %br
        %a{href: "/auth/yandex"}
          = image_tag "yandex.png", :alt => "Ya.ru"
          = t('social.yandex')
        %br
        %br
        %a{href: "/auth/google_oauth2"}
          = image_tag "google_oauth2.png", :alt => "Google+"
          = t('social.google')