%tr
  %td= t(".address")
  %td 
    = address.address + "," if address.address.present?
    = address.city + "," if address.city.present?
    = address.state + "," if address.state.present?
    = address.country + "," if address.country.present?
    = address.postal_code if address.postal_code.present?  
    = "(" + t("types.address.#{address.address_type.name}") + ")"