%fieldset
  .control-group{class: ("error" if f.object.errors.any?)}
    .controls.one-line.input-prepend<
      = f.input_field :email
      = f.select :email_type_id, options_for_select(EmailType.all.map { |type| [t("types.email.#{type.name}"), type.id] }), include_blank: false
      = f.hidden_field :_destroy
      = link_to image_tag("delete_small.png", alt: t('.remove_email')), '#', title: t('.remove_email'), class: "remove_email_fields"