.tab-pane#people
  = form_tag company_add_person_path(object), method: "post", class: "form-search" do
    = label_tag :person_id, "Add participant"
    = text_field_tag :person_id, "", {class: "search-query"}
    = submit_tag "Add", class: "btn"
  %table.table
    = render object.people