!!! html5
%html
  %head
    %title CRM
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{href: root_path} CRM
          %ul.nav
            %li{class: ("active" if ["contacts", "companies", "people"].include? params[:controller])}
              = link_to t('.contacts'), contacts_path
            %li{class: ("active" if params[:controller] == "tasks")}
              = link_to t('.tasks'), tasks_path
            %li{class: ("active" if params[:controller] == "deals")}
              = link_to t('.deals'), deals_path
            %li{class: ("active" if params[:controller] == "events")}
              = link_to t('.events'), events_path
            %li.divider-vertical
            - if current_user.admin?
              %li{class: ("active" if params[:controller] == "admin/users")}
                = link_to t('.users'), admin_users_path
          %p.navbar-text.pull-right
            - if user_signed_in?
              = t(".welcome")
              = (current_user.name || current_user.email) + "!"
            |
            = link_to t('.profile'), profile_path
            |
            = link_to t("devise.sessions.sign_out"), destroy_user_session_path, method: :delete
    .container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{'data-dismiss' => "alert"} ×
          = msg
      = yield
      = debug(params) if Rails.env.development?