!!! html5
%html
  %head
    %title CRM
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %p.navbar-text.pull-right
            - if user_signed_in?
              = t(".welcome")
              = (current_user.name || current_user.email) + "!"
            |
            = link_to t('.quick_search'), '#', id: "quick_search"
            |
            = link_to t('.profile'), profile_path
            |
            = link_to t("devise.sessions.sign_out"), destroy_user_session_path, method: :delete        
          %a.brand{href: root_path} CRM
          %ul.nav
            %li{class: ("active" if params[:controller] == "dashboard")}
              = link_to "#{image_tag('dashboard_icon.png')} #{t('.dashboard')}".html_safe, dashboard_path
            %li{class: ("active" if ["contacts", "companies", "people"].include? params[:controller])}
              = link_to "#{image_tag('contacts_icon.png')} #{t('.contacts')}".html_safe, contacts_path
            %li{class: ("active" if params[:controller] == "tasks")}
              = link_to "#{image_tag('tasks_icon.png')} #{t('.tasks')}".html_safe, tasks_path
            %li{class: ("active" if params[:controller] == "deals")}
              = link_to "#{image_tag('deals_icon.png')} #{t('.deals')}".html_safe, deals_path              
            %li{class: ("active" if params[:controller] == "events")}
              = link_to "#{image_tag('events_icon.png')} #{t('.events')}".html_safe, events_path              
            %li.divider-vertical
            - if current_user.admin?
              %li{class: ("active" if params[:controller] == "admin/users")}
                = link_to "#{image_tag('users_icon.png')} #{t('.users')}".html_safe, admin_users_path
    = render "quick_search"
    .container-fluid
      .row-fluid
        .span2
          = render 'recent_items'
        .span8
          - flash.each do |name, msg|
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{'data-dismiss' => "alert"} ×
              = msg
          = yield
          = debug(params) if Rails.env.development?
        .span2