!!! html5
%html
  %head
    %title CRM
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{href: root_path} CRM
          %ul.nav
            %li{class: ("active" if current_page?(controller: :contacts) or current_page?(root_path))}
              = link_to t('.contacts'), contacts_path
            %li{class: ("active" if current_page?(controller: :tasks))}
              = link_to t('.tasks'), tasks_path
            %li{class: ("active" if current_page?(controller: :deals))}
              = link_to t('.deals'), deals_path
            %li.divider-vertical
          %p.navbar-text.pull-right
            - if user_signed_in?
              = "Hi, #{current_user.email}!"
              = link_to "Sign out", destroy_user_session_path, method: :delete
    .container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{'data-dismiss' => "alert"} ×
          = msg
      = yield
      = debug(params) if Rails.env.development?